Transaction Data for fraud

The link for the dataset: https://www.kaggle.com/datasets/isabbaggin/transaction-fraudulent-financial-syntheticdata

The dataset is entirely computer generated and does not contain any real-world information, ensuring privacy and data protection.

In [7]:
# import libraries
import keras
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [8]:
# load data
df = pd.read_csv("synthetic_financial_data.csv")
df

,transaction_id,customer_id,merchant_id,amount,transaction_time,is_fraudulent,card_type,location,purchase_category,customer_age,transaction_description
0,1,1082,2027,5758.59,2023-01-01 00:00:00,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027
1,2,1015,2053,1901.56,2023-01-01 00:00:01,1,Visa,City-47,Online Shopping,61,Purchase at Merchant-2053
2,3,1004,2035,1248.86,2023-01-01 00:00:02,1,MasterCard,City-6,Gas Station,57,Purchase at Merchant-2035
3,4,1095,2037,7619.05,2023-01-01 00:00:03,1,Discover,City-6,Travel,59,Purchase at Merchant-2037
4,5,1036,2083,1890.10,2023-01-01 00:00:04,1,MasterCard,City-34,Retail,36,Purchase at Merchant-2083
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,1056,2023,8935.28,2023-01-01 02:46:35,1,MasterCard,City-39,Restaurant,36,Purchase at Merchant-2023
9996,9997,1053,2026,30.15,2023-01-01 02:46:36,0,MasterCard,City-32,Retail,42,Purchase at Merchant-2026
9997,9998,1041,2034,6333.64,2023-01-01 02:46:37,0,American Express,City-1,Online Shopping,36,Purchase at Merchant-2034
9998,9999,1009,2019,2837.13,2023-01-01 02:46:38,1,Visa,City-11,Retail,57,Purchase at Merchant-2019
9999,10000,1082,2070,7209.43,2023-01-01 02:46:39,1,Discover,City-1,Gas Station,50,Purchase at Merchant-2070

In [9]:
# let's utilize Autoviz 

#from autoviz.AutoViz_Class import AutoViz_Class
#AV = AutoViz_Class()
#report = AV.AutoViz("synthetic_financial_data.csv", chart_format="bokeh", depVar="deposit") 

# I checked columns types and could not find any time series
# I continued to read and it was saying:
# "2 variable(s) removed since they were ID or low-information variables
# List of variables removed: ['transaction_id', 'transaction_time']"

# I will comment this tool and utilize others for evaluating

In [10]:
# let's check teh Sweetwiz tool
# analyze and create HTML-report

import sweetviz as sv

report = sv.analyze(df)
report.show_html('01 - sweetviz_report.html')

# insights:

# column types:
# 11 FEATURES
# 5 CATEGORICAL
# 5 NUMERICAL
# 1 TEXT

# 0 DUPLICATES

# it also states that there is a strong categorical assosiation between
# transaction_description and merchant_id
# but it is kind of obvious because if we check some rows of our data
# we can see that transaction_description has numbers of merchant_id
# for instance, transaction_description is Purchase at Merchant-2023 
# and merchant_id is 2023

                                             |          | [  0%]   00:00 -> (? left)

Report 01 - sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [11]:
# let's see what Ydata can say about our dataset
from ydata_profiling import ProfileReport

# Generate the data profiling report, title is just 
report = ProfileReport(df, title="ydata report")

# create either HTML -page
report.to_file("01 - ydata report.html")
#report.to_notebook_iframe()

# Missing cells	0
# Missing cells (%)	0.0%
# Duplicate rows	0
# Duplicate rows (%)	0.0%

# it is also quite obvious because it synthetic dataset

# this ydata tool defined columns in the different way:
# Numeric	5
# DateTime	1
# Categorical	4
# Text	1
# I checked through the report and it looks more realistic
# than in Sweetviz

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [12]:
# and let's check my favorite tool: dataprep

# in terminal:
# pip install dataprep

from dataprep.datasets import load_dataset
from dataprep.eda import create_report

create_report(df).show_browser()

  0%|          | 0/1520 [00:00<?, ?it/s]

C:\Users\e1003118\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dataprep\eda\distribution\render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))
C:\Users\e1003118\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dataprep\eda\distribution\render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))
C:\Users\e1003118\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\dataprep\eda\distribution\render.py:274: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.DataFrame({col: [nrows - npresent]}, index=["Others"]))